﻿@model ValidandoConteudoHtml.ViewModels.PostEditor

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Editor de Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titulo)
            @Html.ValidationMessageFor(model => model.Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Conteudo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Conteudo)
            @Html.ValidationMessageFor(model => model.Conteudo)
        </div>

        <p>
            <input type="submit" value="salvar" />
        </p>
    </fieldset>
}
